# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# ENVIRONNEMENT VIRTUEL
# ==========================================

venv/
.venv/
env/

# ==========================================
# JUPYTER
# ==========================================

.ipynb_checkpoints/

# ==========================================
# VS CODE
# ==========================================

.vscode/

# ==========================================
# MACOS
# ==========================================

.DS_Store

# ==========================================
# STREAMLIT
# ==========================================

.streamlit/

# ==========================================
# LOGS
# ==========================================

*.log

# ==========================================
# MODELS
# ==========================================

models/*.pkl

# ==========================================
# CACHE
# ==========================================

.pytest_cache/
.cache/

# ==========================================
# DATASETS
# ==========================================

data/*.csv
data/*.zip
data/*.xlsx

# ==========================================
# TEMP FILES
# ==========================================

*.tmp
*.temp

# ==========================================
# ENV FILES
# ==========================================

.env
.env.local

# ==========================================
# BUILD FILES
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# SQLITE
# ==========================================

*.db
*.sqlite3